html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  background: #a4dcae;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 40%;
  height: auto;
}

.image img {
  width: 100%
}

@media screen and (max-width: 600px) {
  .image {
    width: 70%;
  }
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  letter-spacing: 7px;
  text-transform: uppercase;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  -webkit-animation-delay: 3s;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

.all {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
}

.all img {
  width: 100%
}

.all:target {
  display: flex;
}

a, a:visited {
  color: #000;
  text-decoration: none;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}
